.sidebar {
  transition: all 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.recommended{
  padding: 40px 20px;
  padding-bottom: 0;
}

.search{
  color: #606060;
  font-size: xx-small !important;
}

.searchpage{
  padding: 20px 20px;
}

.searchpage-hr{
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.channelrowlogo{
  height: 120px !important;
  width: 120px !important;
  margin: 10px 60px;
}

